{
	"$schema": "http://json.schemastore.org/prettierrc",
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"proseWrap": "always",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"endOfLine": "lf",
	"useTabs": true,
	"arrowParens": "always",
	"quoteProps": "as-needed"
}
